body{
  margin:0 auto;
  padding: 0;
  font-family: "YuGothicM" "Hiragino Kaku Gothic ProN","メイリオ", 'arial black';

}

.bg-color1{
  background-color: 	#002752;
}
.bg-color2{
  background-color: 	#CDDCDF;
}

.text-color{
  color: #fff;
}


a:link{
  color: #fff;
}
a:visited{
  color: #fff;
}
a:active{
  color: #fff;
}

.qa-box{
  border-radius: 10px;
  background-color: #fff;
}

.question{
  min-height: 200px;
  width: 90%;
  border: solid 2px #333;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.question-text{
  width: 80%;
  font-size: 20px;

}

ul{
  padding:  0;
}

.answer{
  list-style: none;
  border-radius: 10px;
  margin-bottom: 8px;
  width: 90%;
  font-size: 18px;
  cursor: pointer;
}
.answer:hover{
  opacity: 0.4;
}

.blue{
  background-color: blue;
  color: #fff;
}
.red{
  background-color: red;
  color: #fff;
}
.green{
  background-color: green;
  color: #fff;
}
.yellow{
  background-color: yellow;
  color: #000;
}

.result{
  color: red;
  font-size: 180px;
  text-align: center;
  line-height:  1;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  margin: auto;
}
.hidden{
  visibility: hidden;
}
.close{
  display: none;
}
.OK{
  color: red;
  opacity: 0.7;
}
.NG{
  color: blue;
  opacity: 0.7;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
